<!-- <app-board></app-board> -->
<div class="container">
  <header>
    <div class="leftSide centerAll">
      <div class="hamburgerButton">
        <div></div>
        <div></div>
        <div></div>
      </div>
      <div class="text">Boards</div>
    </div>
    <div class="center">Kanban-Backend-Exercise</div>
    <div class="rideSide">
      <div class="info centerAll">
        <mat-icon>info_outline</mat-icon>
      </div>
      <div class="badges centerAll">
        <div class="centerAll">?</div>
      </div>
      <div
        class="badges centerAll"
        matTooltip="Info about the action"
        matTooltipPosition="above"
      >
        <div class="centerAll"></div>
      </div>
    </div>
  </header>

  <div class="contentHead">
    <div class="headLeft">
      <div>My first Boards</div>
      <div class="badges centerAll hoverBorder">
        <div
          class="centerAll"
          matTooltip="Info about the action"
          matTooltipPosition="above"
          [style.color]="loggedUserInitialsColor()"
        >
          {{loggedUserInitials()}}
        </div>
      </div>
      <div class="badges centerAll hoverGreen">
        <div class="centerAll">+</div>
      </div>
    </div>
    <div class="headRight">#</div>
  </div>

  <div class="tableHead">
    <div class="tableField">
      <div class="tableDescription">
        To-do
        <app-green-plus [status]="0"></app-green-plus>
      </div>
    </div>
    <div class="tableField">
      <div class="tableDescription">
        Do today
        <app-green-plus [status]="1"></app-green-plus>
      </div>
    </div>
    <div class="tableField">
      <div class="tableDescription">
        In progress
        <app-green-plus [status]="2"></app-green-plus>
      </div>
    </div>
    <div class="tableField">
      <div class="tableDescription">
        Done
        <app-green-plus [status]="3"></app-green-plus>
      </div>
    </div>
  </div>
  <div class="tableContent">
    <div
      class="tableColumn"
      cdkDropList
      #todoList="cdkDropList"
      [cdkDropListConnectedTo]="[doneList, inProgressList, doTodayList]"
      (cdkDropListDropped)="drop($event)"
    >
      <div *ngFor="let task of crudService.tasks" cdkDrag>
        <ng-container *ngIf="task.status == 0">
          <app-task-in-table
            [task]="task"
          ></app-task-in-table>
        </ng-container>
      </div>
    </div>
    <div
      class="tableColumn"
      cdkDropList
      #doneList="cdkDropList"
      [cdkDropListConnectedTo]="[todoList, inProgressList, doTodayList]"
      (cdkDropListDropped)="drop($event)"
    >
      <div *ngFor="let task of crudService.tasks" cdkDrag>
        <ng-container *ngIf="task.status == 1">
          <app-task-in-table
            [task]="task"
          ></app-task-in-table>
        </ng-container>
      </div>
    </div>
    <div
      class="tableColumn"
      cdkDropList
      #inProgressList="cdkDropList"
      [cdkDropListConnectedTo]="[todoList, doneList, doTodayList]"
      (cdkDropListDropped)="drop($event)"
    >
      <div *ngFor="let task of crudService.tasks" cdkDrag>
        <ng-container *ngIf="task.status == 2">
          <app-task-in-table
            [task]="task"
          ></app-task-in-table>
        </ng-container>
      </div>
    </div>
    <div
      class="tableColumn"
      cdkDropList
      #doTodayList="cdkDropList"
      [cdkDropListConnectedTo]="[todoList, doneList, inProgressList]"
      (cdkDropListDropped)="drop($event)"
    >
      <div *ngFor="let task of crudService.tasks" cdkDrag>
        <ng-container *ngIf="task.status == 3">
          <app-task-in-table
            [task]="task"
          ></app-task-in-table>
        </ng-container>
      </div>
    </div>
  </div>
</div>
