<div>
  <button mat-button class="buttonContainer" [matMenuTriggerFor]="menu">
    <div>
      <mat-icon *ngIf="property === 'edit_member'">add</mat-icon>
    </div>
    <div class="propertyContainer" *ngIf="property === 'add_member'">
      <mat-icon>group</mat-icon> Members
    </div>
  </button>
  <mat-menu #menu="matMenu">

    <header
      style="
        text-align: center;
        padding: 3px 64px;
        font-size: small;
        border-bottom: 1px solid lightgrey;
        background-color: rgba(0, 0, 0, 0.05);
      "
    >
      Members
    </header>
    
    <div *ngFor="let member of allMembers">
      <label mat-menu-item>
        <input
          type="checkbox"
          [value]="member.checked"
          [(ngModel)]="member.checked"
          (click)="selectedMember(member)"
        />
        <span>{{ member.username }}</span>
      </label>
    </div>
  </mat-menu>
</div>
