<div
  class="detailContainer"
  [style.background-color]="
    updateColorIndex === -1
      ? 'hsl(' + colors[updateTaskArray.color].color + ', 100%, 90%)'
      : 'hsl(' + colors[updateColorIndex].color + ', 100%, 90%)'
  "
>
  <app-close-button></app-close-button>
  <div
    class="delete centerAll"
    (click)="deleteTask(updateTaskArray.id)"
    matTooltip="delete"
    matTooltipPosition="above"
  >
    <mat-icon>delete</mat-icon>
  </div>

  <div class="detailHead">
    <div class="changeContainer">
      <label>Title</label>
      <div
        class="inputField"
        (click)="showTitleInput = true"
        *ngIf="!showTitleInput"
        [style.background-color]="
          updateColorIndex === -1
            ? 'hsl(' + colors[updateTaskArray.color].color + ', 100%, 93%)'
            : 'hsl(' + colors[updateColorIndex].color + ', 100%, 93%)'
        "
      >
        {{ updateTaskArray.title }}
      </div>

      <div class="changeField" *ngIf="showTitleInput">
        <input
          value="{{ updateTaskArray.title }}"
          [(ngModel)]="newTitle"
          [style.border-bottom]="
            newTitle.length < 3
              ? '2px solid red'
              : updateColorIndex === -1
              ? '2px solid hsl(' +
                colors[updateTaskArray.color].color +
                ', 100%, 65%)'
              : '2px solid hsl(' +
                colors[updateColorIndex].color +
                ', 100%, 65%)'
          "
        />
        <div>{{ newTitle.length }}/50</div>
      </div>

      <div class="buttonField" *ngIf="showTitleInput">
        <button (click)="cancelInput()">CANCEL</button>
        <button
          (click)="updateTitleAndDescription()"
          [disabled]="newTitle.length < 3"
        >
          <strong>SAVE</strong>
        </button>
      </div>
    </div>

    <div class="detailWorkflow">
      <label>Status</label>
      <button
        mat-button
        class="buttonContainer"
        [matMenuTriggerFor]="statusMenu"
      >
        {{
          updateStatusIndex === -1
            ? task_status
            : dataService.task_status[updateStatusIndex].name
        }}
      </button>
      <mat-menu #statusMenu="matMenu">
        <button
          class="buttonStatus"
          mat-menu-item
          *ngFor="let status of task_status_menu; let i = index"
          (click)="updateStatus(i)"
        >
          <div class="menuStatus">
            <span>{{ status.name }}</span>
          </div>
        </button>
      </mat-menu>
    </div>
  </div>

  <div class="detailProperties">
    <div class="propertieItemContainer">
      <label>Color</label>
      <button class="propertieItem" mat-button [matMenuTriggerFor]="colorMenu">
        <div
          class="color"
          [style.background-color]="
            updateColorIndex === -1
              ? 'hsl(' + colors[updateTaskArray.color].color + ', 100%, 65%)'
              : 'hsl(' + colors[updateColorIndex].color + ', 100%, 65%)'
          "
        ></div>
        <span>{{
          updateColorIndex === -1
            ? colors[updateTaskArray.color].name
            : colors[updateColorIndex].name
        }}</span>
      </button>
      <mat-menu #colorMenu="matMenu">
        <button
          class="buttonColor"
          mat-menu-item
          *ngFor="let color of colors; let i = index"
          (click)="updateColor(i)"
        >
          <div class="menuColor">
            <div
              [style.background-color]="'hsl(' + color.color + ', 100%, 65%)'"
            ></div>
            <span>{{ color.name }}</span>
          </div>
        </button>
      </mat-menu>
    </div>

    <div class="propertieItemContainer">
      <label>Members</label>
      <div class="propertieItem">
        <app-collaborators [task]="task"></app-collaborators>
        <div class="addMember centerAll">
          <mat-icon>add</mat-icon>
          <app-members [property]="'edit_member'" [task]="task"></app-members>
        </div>
      </div>
    </div>

    <div class="propertieItemContainer" *ngIf="updateTaskArray.lable">
      <label>Labels</label>
      <div class="propertieItem">
        <div class="label centerAll">Test Label</div>
        <div class="addLabel centerAll"><mat-icon>add</mat-icon></div>
      </div>
    </div>

    <div class="propertieItemContainer" *ngIf="!updateTaskArray.due_date">
      <label>Due date</label>
      <div class="addDueDate centerAll" (click)="openEditDueDate()">
        <mat-icon>add</mat-icon>
      </div>
    </div>

    <div class="propertieItemContainer" *ngIf="updateTaskArray.due_date">
      <label>Due date</label>
      <div class="propertieItem">
        <div class="dueDate">
          <strong
            (click)="openEditDueDate()"
            [style]="
              restOfTimeForHTML() < 0
                ? 'text-decoration:line-through;color:red'
                : ''
            "
            >{{ formattedDateForHTML() }}</strong
          >
        </div>
      </div>
    </div>

    <div class="propertieItemContainer" *ngIf="updateTaskArray.due_date">
      <label>rest of Time</label>
      <div class="propertieItem" style="cursor: auto">
        <div class="dueDate">
          <strong
            >{{
              restOfTimeForHTML() === 0
                ? "Heute"
                : restOfTimeForHTML() > 0
                ? "noch " + restOfTimeForHTML()
                : ""
            }}
            <span *ngIf="restOfTimeForHTML() > 0">Tag/e</span></strong
          >
        </div>
      </div>
    </div>
  </div>

  <div class="dataPickerContainer" *ngIf="showEditDueDate">
    <mat-card class="inline-calendar-card">
      <mat-calendar [(selected)]="editSelectedData"></mat-calendar>
    </mat-card>
  </div>

  <div class="propertieItemContainer">
    <label>Description</label>
    <div
      class="inputField"
      (click)="showDescriptionInput = true"
      *ngIf="!showDescriptionInput"
      [style.background-color]="
        updateColorIndex === -1
          ? 'hsl(' + colors[updateTaskArray.color].color + ', 100%, 93%)'
          : 'hsl(' + colors[updateColorIndex].color + ', 100%, 93%)'
      "
    >
      {{ updateTaskArray.description }}
    </div>

    <div class="changeContainer" *ngIf="showDescriptionInput">
      <div class="changeField">
        <input
          [value]="task?.description"
          [(ngModel)]="newDescription"
          [placeholder]="task?.description ? '' : 'Description'"
        />
        <div>{{ newDescription.length }}/200</div>
      </div>

      <div class="buttonField">
        <button (click)="cancelInput()">CANCEL</button>
        <button (click)="updateTitleAndDescription()">
          <strong>SAVE</strong>
        </button>
      </div>
    </div>
  </div>
</div>
