<div
  class="detailContainer"
  [style.background-color]="
    updateColorIndex === -1
      ? 'hsl(' + colors[updateTaskArray.color].color + ', 100%, 90%)'
      : 'hsl(' + colors[updateColorIndex].color + ', 100%, 90%)'
  "
>
  <app-close-button></app-close-button>

  <div
    class="delete centerAll"
    (click)="deleteTask(updateTaskArray.id)"
    matTooltip="delete"
    matTooltipPosition="above"
  >
    <mat-icon>delete</mat-icon>
  </div>

  <div class="detailHead">
    <div class="changeContainer">
      <div
        class="inputField"
        (click)="showTitleInput = true"
        *ngIf="!showTitleInput"
        [style.background-color]="
          updateColorIndex === -1
            ? 'hsl(' + colors[updateTaskArray.color].color + ', 100%, 93%)'
            : 'hsl(' + colors[updateColorIndex].color + ', 100%, 93%)'
        "
      >
        {{ updateTaskArray.title }}
      </div>
      <div class="changeField" *ngIf="showTitleInput">
        <input
          value="{{ updateTaskArray.title }}"
          [(ngModel)]="newTitle"
          [style.border-bottom]="
            updateColorIndex === -1
              ? '2px solid hsl(' +
                colors[updateTaskArray.color].color +
                ', 100%, 65%)'
              : '2px solid hsl(' +
                colors[updateColorIndex].color +
                ', 100%, 65%)'
          "
        />
        <div>{{newTitle.length}}/50</div>

      </div>
      <div class="buttonField" *ngIf="showTitleInput">
        <button (click)="cancelInput()">CANCEL</button>
        <button (click)="updateTitleAndDescription()">
          <strong>SAVE</strong>
        </button>
      </div>
    </div>
    <div class="detailWorkflow">
      <label>{{ task_status }}</label>
    </div>
  </div>
  <div class="detailProperties">
    <div class="propertieItemContainer">
      <label>Color</label>
      <button class="propertieItem" mat-button [matMenuTriggerFor]="menu">
        <div
          class="color"
          [style.background-color]="
            updateColorIndex === -1
              ? 'hsl(' + colors[updateTaskArray.color].color + ', 100%, 65%)'
              : 'hsl(' + colors[updateColorIndex].color + ', 100%, 65%)'
          "
        ></div>
        <span>{{
          updateColorIndex === -1
            ? colors[updateTaskArray.color].name
            : colors[updateColorIndex].name
        }}</span>
      </button>
      <mat-menu #menu="matMenu">
        <button
          class="buttonColor"
          mat-menu-item
          *ngFor="let color of colors; let i = index"
          (click)="updateColor(i)"
        >
          <div class="menuColor">
            <div
              [style.background-color]="'hsl(' + color.color + ', 100%, 65%)'"
            ></div>
            <span>{{ color.name }}</span>
          </div>
        </button>
      </mat-menu>
    </div>
    <div class="propertieItemContainer">
      <label>Members</label>
      <div class="propertieItem">
        <div class="member centerAll" style="color: blue">SH</div>
        <div class="addMember centerAll"><mat-icon>add</mat-icon></div>
      </div>
    </div>
    <div class="propertieItemContainer" *ngIf="updateTaskArray.lable">
      <label>Labels</label>
      <div class="propertieItem">
        <div class="label centerAll">Test Label</div>
        <div class="addLabel centerAll"><mat-icon>add</mat-icon></div>
      </div>
    </div>
    <div class="propertieItemContainer" *ngIf="updateTaskArray.due_date">
      <label>Time Estimate</label>
      <div class="propertieItem">
        <div class="time">12h</div>
      </div>
    </div>
    <div class="propertieItemContainer" *ngIf="updateTaskArray.due_date">
      <label>Due date</label>
      <div class="propertieItem">
        <div class="dueDate">
          <strong>Oct 21 at 17:00</strong>
          <span> (in porgress)</span>
        </div>
      </div>
    </div>
  </div>
  <div class="propertieItemContainer">
    <label>Description</label>
    <div
      class="inputField"
      (click)="showDescriptionInput = true"
      *ngIf="!showDescriptionInput"
      [style.background-color]="
        updateColorIndex === -1
          ? 'hsl(' + colors[updateTaskArray.color].color + ', 100%, 93%)'
          : 'hsl(' + colors[updateColorIndex].color + ', 100%, 93%)'
      "
    >
      {{ updateTaskArray.description }}
    </div>

    <div class="changeContainer" *ngIf="showDescriptionInput">
      <div class="changeField">
        <input
          [value]="task?.description"
          [(ngModel)]="newDescription"
          [placeholder]="task?.description ? '' : 'Description'"
        />
        <div>{{newDescription.length}}/200</div>

      </div>
      <div class="buttonField">
        <button (click)="cancelInput()">CANCEL</button>
        <button (click)="updateTitleAndDescription()">
          <strong>SAVE</strong>
        </button>
      </div>
    </div>
  </div>
</div>
