.detailContainer {
  position: relative;
  width: 600px;
  min-height: 400px;
  padding: 30px;
  .detailHead {
    .detailTaskName {
      cursor: pointer;
      display: flex;
      align-items: center;
      h2 {
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 3px;
        word-break: break-word;
        &:hover {
          background-color: rgba(0, 0, 0, 0.03);
          padding-left: 3px;
          padding-right: 3px;
          margin-left: -3px;
          margin-right: -3px;
        }
      }
    }
    .detailWorkflow {
      cursor: pointer;
      display: flex;
      align-items: center;
      margin-bottom: 15px;
      label {
        cursor: pointer;
        &:hover {
          background-color: rgba(0, 0, 0, 0.03);
          padding-left: 3px;
          padding-right: 3px;
          margin-left: -3px;
          margin-right: -3px;
        }
      }
    }
  }
  .detailProperties {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    // margin-bottom: 15px;
    .propertieItemContainer {
      display: flex;
      flex-direction: column;
      gap: 6px;
      margin-right: 30px;
      margin-bottom: 10px;
      .propertieItem {
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        span {
          margin-top: 5px;
        }
        .color {
          width: 20px;
          height: 20px;
          border-radius: 50%;
          margin-top: 5px;
          span {
            font-size: 14px;
          }
        }
        .member {
          width: 30px;
          height: 30px;
          font-weight: 700;
          border-radius: 50%;
          border: 1px solid lightgrey;
        }
        .label {
          min-width: 30px;
          height: 30px;
          border: 1px solid lightgrey;
          border-radius: 8px;
          padding: 0 8px;
          font-size: 11px;
        }
        .time {
          display: flex;
          align-items: center;
          height: 30px;
          font-size: 14px;
        }
        .addMember,
        .addLabel {
          width: 30px;
          height: 30px;
          font-weight: 700;
          border-radius: 50%;
          border: 1px solid lightgrey;
        }
        .dueDate {
          display: flex;
          align-items: center;
          height: 30px;
          gap: 8px;
          span{
            margin-top: 0;
          }
          // strong, span{
          //   display: flex;
          //   align-items: center;
          //   height: 30px;
          // }
        }
      }
    }
  }
  .detailDescription {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }
}

label {
  color: rgba(66, 66, 66, 0.8);
  font-size: 12px;
}
