.loginContainer {
  width: 100vw;
  height: 100vh;
  .loginArea {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: fit-content;
    background-color: lightgrey;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 16px;
    gap: 16px;

    form {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }
  }
}
