<div class="loginContainer centerAll">
  <div class="loginArea centerAll">
    <h2>Login</h2>
    <form (ngSubmit)="login()" #loginForm="ngForm">
      <div>
        <input
          type="text"
          name="username"
          [(ngModel)]="username"
          placeholder="User Name"
          required
          #usernameInput="ngModel"
        />
        <div
          *ngIf="
            usernameInput.invalid &&
            (usernameInput.dirty || usernameInput.touched)
          "
        >
          <div *ngIf="usernameInput.errors?.['required']">
            Username is required.
          </div>
        </div>
      </div>
      <div>
        <input
          type="password"
          name="password"
          [(ngModel)]="password"
          placeholder="Password"
          required
          #passwordInput="ngModel"
        />
        <div
          *ngIf="
            passwordInput.invalid &&
            (passwordInput.dirty || passwordInput.touched)
          "
        >
          <div *ngIf="passwordInput.errors?.['required']">
            Password is required.
          </div>
        </div>
      </div>
      <button [disabled]="loginForm.invalid">Login</button>
    </form>
    <div>
      <span>Noch nicht angemeldet?</span>
      <div><a href="/register">Hier klicken</a></div>
    </div>
  </div>
</div>
