<div class="container">
  <header>
    <div class="leftSide centerAll">
      <div class="hamburgerButton">
        <div></div>
        <div></div>
        <div></div>
      </div>
      <div class="text">Boards</div>
    </div>
    <div class="center">Kanban-Backend-Exercise</div>
    <div class="rideSide">
      <div class="centerAll"></div>
      <div class="badges centerAll">
        <div class="centerAll">?</div>
      </div>
      <div
        class="badges centerAll"
        matTooltip="Info about the action"
        matTooltipPosition="above"
      >
        <div class="centerAll">SH</div>
      </div>
    </div>
  </header>

  <div class="contentHead">
    <div class="headLeft">
      <div>My first Boards</div>
      <div class="badges centerAll hoverBorder">
        <div
          class="centerAll"
          matTooltip="Info about the action"
          matTooltipPosition="above"
        >
          SH
        </div>
      </div>
      <div class="badges centerAll hoverGreen">
        <div class="centerAll">+</div>
      </div>
    </div>
    <div class="headRight">#</div>
  </div>

  <div class="tableHead">
    <div class="tableField">
      <div class="tableDescription">
        To-do
        <div class="greenPlus centerAll" (click)="openAddTask()">
          <div></div>
          <div></div>
        </div>
      </div>
    </div>
    <div class="tableField">
      <div class="tableDescription">
        Do today
        <div class="greenPlus centerAll" (click)="openAddTask()">
          <div></div>
          <div></div>
        </div>
      </div>
    </div>
    <div class="tableField">
      <div class="tableDescription">
        In progress
        <div class="greenPlus centerAll" (click)="openAddTask()">
          <div></div>
          <div></div>
        </div>
      </div>
    </div>
    <div class="tableField">
      <div class="tableDescription">
        Done
        <div class="greenPlus centerAll" (click)="openAddTask()">
          <div></div>
          <div></div>
        </div>
      </div>
    </div>
  </div>
  <div class="tableContent">
    <div class="tableColumn">
      <div><app-task-in-table></app-task-in-table></div>
    </div>
    <div class="tableColumn">
      <!-- <div><app-task-in-table></app-task-in-table></div> -->
    </div>
    <div class="tableColumn">
      <!-- <div><app-task-in-table></app-task-in-table></div> -->
    </div>
    <div class="tableColumn">
      <!-- <div><app-task-in-table></app-task-in-table></div> -->
    </div>
  </div>
</div>
