<div class="container">
  <header>
    <div class="leftSide">
      <div class="hamburgerButton">
        <div></div>
        <div></div>
        <div></div>
      </div>
      <div class="text">Boards</div>
    </div>
    <div class="center">Kanban-Backend-Exercise</div>
    <div class="rideSide">
      <div></div>
      <div class="badges">
        <div>?</div>
      </div>
      <div class="badges">
        <div>SH</div>
      </div>
    </div>
  </header>

  <div class="contentHead">
    <div class="headLeft">
      <div>My first Boards</div>
      <div class="badges hoverBorder">
        <div>SH</div>
      </div>
      <div class="badges hoverGreen">
        <div>+</div>
      </div>
    </div>
    <div class="headRight">mhj</div>
  </div>

  <div class="contentTable">
    <div>
      <div class="listHead">
        To-do
        <div class="greenPlus">
          <div></div>
          <div></div>
        </div>
      </div>
    </div>
    <div>
      <div class="listHead">
        Do today
        <div class="greenPlus">
          <div></div>
          <div></div>
        </div>
      </div>
    </div>
    <div>
      <div class="listHead">
        In progress
        <div class="greenPlus">
          <div></div>
          <div></div>
        </div>
      </div>
    </div>
    <div>
      <div class="listHead">
        Done
        <div class="greenPlus">
          <div></div>
          <div></div>
        </div>
      </div>
    </div>
  </div>
</div>
