<div class="container">
  <header>
    <div class="leftSide centerAll">
      <div class="hamburgerButton">
        <div></div>
        <div></div>
        <div></div>
      </div>
      <div class="text">Boards</div>
    </div>
    <div class="center">Kanban-Backend-Exercise</div>
    <div class="rideSide">
      <div class="centerAll"></div>
      <div class="badges centerAll">
        <div class="centerAll">?</div>
      </div>
      <div class="badges centerAll">
        <div class="centerAll">SH</div>
      </div>
    </div>
  </header>

  <div class="contentHead">
    <div class="headLeft">
      <div>My first Boards</div>
      <div class="badges centerAll hoverBorder">
        <div class="centerAll">SH</div>
      </div>
      <div class="badges centerAll hoverGreen">
        <div class="centerAll">+</div>
      </div>
    </div>
    <div class="headRight">#</div>
  </div>

  <div class="contentTable">
    <div class="column">
      <div class="listHead">
        To-do
        <div class="greenPlus centerAll" (click)="openAddTask()">
          <div></div>
          <div></div>
        </div>
      </div>
      <div class="listContent">
          <app-task-in-table></app-task-in-table>
          <app-task-in-table></app-task-in-table>
      </div>
    </div>
    <div class="column">
      <div class="listHead">
        Do today
        <div class="greenPlus centerAll" (click)="openAddTask()">
          <div></div>
          <div></div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="listHead">
        In progress
        <div class="greenPlus centerAll" (click)="openAddTask()">
          <div></div>
          <div></div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="listHead">
        Done
        <div class="greenPlus centerAll" (click)="openAddTask()">
          <div></div>
          <div></div>
        </div>
      </div>
    </div>
  </div>
</div>
