.container {
  position: relative;
  width: 500px;
  padding: 30px 30px 10px;
  min-height: 300px;
  height: fit-content;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  .close {
    position: absolute;
    top: 6px;
    right: 6px;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    opacity: 0.6;
    cursor: pointer;
    &:hover {
      background-color: rgba(0, 0, 0, 0.08);
      opacity: 1;
    }
  }
  .selectContainer {
    position: relative;
    width: 100%;
    margin-bottom: 30px;
    input {
      width: 100%;
      height: 30px;
      border: none;
      outline: none;
      font-size: 20px;
      margin-bottom: 30px;
      background-color: transparent;
    }
    .counterTitle {
      position: absolute;
      top: 30px;
      right: 0;
      font-size: smaller;
    }
    ::placeholder {
      font-size: 20px;
      font-weight: 700;
    }
    .colorContainer {
      position: relative;
      display: flex;
      align-items: center;
      gap: 16px;
      margin-bottom: 30px;
      button {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        background-color: transparent;
        border: none;
        cursor: pointer;
        .colorBadges {
          width: 35px;
          height: 35px;
          margin-left: 8px;
          border-radius: 50%;
          border: 1px solid lightgrey;
        }
        .colorText {
          display: flex;
          align-items: center;
          width: 90%;
          margin-left: 16px;
          font-size: 16px;
          font-weight: 700;
        }
      }
      .selectionList {
        position: absolute;
        top: 43px;
        width: 100%;
        height: 118px;
        overflow-y: scroll;
        background-color: white;
        border: 1px solid lightgrey;
        z-index: 2;
        button {
          display: flex;
          justify-content: space-between;
          height: 30px;
          border: none;
          border-left: 1px solid lightgrey;
          border-right: 1px solid lightgrey;
          &:hover {
            filter: brightness(0.94);
          }
          .selectionColorBadges {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            margin-left: 16px;
          }
          .selectionColorText {
            margin-right: 16px;
          }
        }
      }
    }
    .propertiesContainer {
      display: flex;
      justify-content: space-between;
      // margin-bottom: 30px;
      .properties {
        position: relative;
        display: flex;
        align-items: center;
        gap: 8px;
        border-radius: 4px;
        padding: 4px 6px;
        cursor: pointer;
        &:hover {
          filter: drop-shadow(4px 4px 8px lightgrey);
        }
      }
    }
    .dataPickerContainer{
      display: flex;
      justify-content: flex-end;
    }
    .selectedData{
      display: flex;
      flex-direction: column;
      gap: 8px;
      margin-top: 8px;
    }
    .textMembers {
      margin-top: 16px;
    }
    .membersContainer {
      display: flex;
      font-size: 12px;
      margin-bottom: 30px;
      margin-top: 16px;
      .membersBadges {
        display: flex;
        gap: 8px;
        background-color: white;
        .members {
          width: 25px;
          height: 25px;
          border-radius: 50%;
          border: 2px solid yellow;
        }
        .membersPlus {
          width: 25px;
          height: 25px;
          border-radius: 50%;
          border: 2px solid yellow;
        }
      }
    }
    .descriptionContainer {
      position: relative;
      input {
        background-color: white;
        flex-wrap: wrap;
      }
      .counterDescription {
        position: absolute;
        top: 50px;
        right: 0;
        font-size: smaller;
      }

    }
  }

  footer {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    margin-bottom: 30px;
    button {
      background-color: white;
      border-radius: 6px;
      border: 1px solid lightgrey;
      filter: drop-shadow(2px 2px 2px lightgrey);
      padding: 4px 6px;
      cursor: pointer;
      &:hover {
        filter: drop-shadow(4px 4px 4px lightgrey);
      }
    }
  }
}
