<div
  class="container"
  [style.background-color]="
    'hsl(' + colors[selectedColorIndex].color + ', 100%, 90%)'
  "
>
  <app-close-button></app-close-button>
  <div class="selectContainer">
    <div>
      <input
        placeholder="Task Titel"
        [(ngModel)]="taskTitle"
        required=""
        [style.border-bottom]="
          '2px solid hsl(' + colors[selectedColorIndex].color + ', 100%, 65%)'
        "
      />
    </div>
    <div class="colorContainer">
      <button (click)="openCloseSelectColor()">
        <div
          class="colorBadges"
          [style.background-color]="
            'hsl(' + colors[selectedColorIndex].color + ', 100%, 75%)'
          "
        ></div>
        <div
          class="colorText"
          [style.border-bottom]="
            '2px solid hsl(' + colors[selectedColorIndex].color + ', 100%, 65%)'
          "
        >
          {{ colors[selectedColorIndex].name }}
        </div>
      </button>
      <div class="selectionList" *ngIf="showSelectColorList">
        <button
          [style.background-color]="'hsl(' + color.color + ', 100%, 95%)'"
          *ngFor="let color of colors; let i = index"
          (click)="selectedColor(i)"
        >
          <div
            class="selectionColorBadges"
            [style.background-color]="'hsl(' + color.color + ', 100%, 65%)'"
          ></div>
          <div class="selectionColorText">{{ color.name }}</div>
        </button>
      </div>
    </div>
    <div class="propertiesContainer">
      <div class="properties"><mat-icon>group</mat-icon> Members</div>
      <div class="properties"><mat-icon>label</mat-icon>Labels</div>
      <div class="properties"><mat-icon>description</mat-icon>Description</div>
      <div class="properties"><mat-icon>more_horiz</mat-icon>More</div>
    </div>
    <!-- membersContainer -->
    <div class="membersContainer d-none">
      Members
      <div class="membersBadges">
        <div class="members centerAll">SH</div>
        <div class="membersPlus centerAll"><mat-icon>add</mat-icon></div>
      </div>
    </div>
  </div>
  <footer>
    <button>Save & add more</button>
    <button>Save & open details</button>
    <button (click)="saveAndClose()">Save & close</button>
  </footer>
</div>
