<div
  class="taskContainer"
  (click)="openTaskDetail()"
  [style.border]="'2px solid hsl(' + colors[task.color].color + ', 100%, 50%)'"
  [style.background-color]="'hsl(' + colors[task.color].color + ', 100%, 95%)'"
>
  <span class="taskName">{{ task.title }}</span>
  <div class="taskProperties">
    <div class="taskPropertieList">
      <mat-icon
        class="centerAll"
        (click)="button(1, $event)"
        matTooltip="Has description. Click to expand or collapse."
        matTooltipPosition="above"
        *ngIf="task.description"
        >description</mat-icon
      >
      <mat-icon
        class="centerAll"
        (click)="button(2, $event)"
        matTooltip="Has description. Click to expand or collapse."
        matTooltipPosition="above"
        *ngIf="task.due_date"
        >date_range</mat-icon
      >
      <mat-icon
        class="centerAll"
        (click)="button(3, $event)"
        matTooltip="Time spent / Time estimate"
        matTooltipPosition="above"
        *ngIf="task.estimate"
        >access_time</mat-icon
      >
      <span
        matTooltip="Time spent / Time estimate"
        matTooltipPosition="above"
        *ngIf="task.estimate"
        >0h / 12h</span
      >
    </div>
    <!-- <div class="collaboratorContainer"> -->
      <app-collaborators [task]="task" ></app-collaborators>
      <!-- <div
        class="collaborator centerAll"
        *ngFor="let collaborator of task.collaborator"
        [style.border]="
          '2px solid hsl(' + colors[task.color].color + ', 100%, 50%)'
        "
        matTooltip="{{ collaboratorName(collaborator) }}"
        [style.color]="collaboratorInitialsColor(collaborator)"
        matTooltipPosition="above"
      >
        {{collaboratorInitials(collaborator)}}
      </div> -->
    <!-- </div> -->
  </div>
  <div class="taskDescription" *ngIf="openDescription">
    {{ task.description }}
  </div>
  <div class="taskDueDate" *ngIf="openDueDate">
    <span>Due: <strong>Today 17:00</strong> <span> (done)</span></span>
  </div>
</div>
