.taskContainer {
  position: relative;
  min-height: 30px;
  margin: 5px 5px 0px 5px;
  padding: 5px;
  border-radius: 4px;
  padding: 5px 7px 0;
  cursor: pointer;
  .taskName {
    font-size: 12px;
  }
  .taskProperties {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    margin-bottom: 5px;
    .taskPropertieList {
      display: flex;
      align-items: center;
      gap: 5px;
      mat-icon {
        width: 20px;
        height: 20px;
        font-size: 17px;
        cursor: pointer;
      }
      span {
        font-size: 11px;
      }
    }
    // .collaboratorContainer {
    //   display: flex;
    //   gap: 3px;
    //   .collaborator {
    //     width: 25px;
    //     height: 25px;
    //     border-radius: 50%;
    //     background-color: white;
    //     text-shadow: 0 0 3px black;
    //   }
    // }
  }
  .taskDescription,
  .taskDueDate {
    padding: 5px 0;
    border-top: 1px dashed lightgrey;
  }
}
